@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --background-color: #FFF8FC;
  --text-color: #292D32;
  ;

  --principal-color: #6746FF;
  --secondary-color: #F36CBC;
  --principal-gradient: linear-gradient(to bottom right, var(--principal-color) 0%, var(--secondary-color) 100%);

  --font-family: "Plus Jakarta Sans", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  color: var(--text-color);
  font-family: var(--font-family);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--background-color);
}