.request_main {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 2fr 6fr;
}

.request_mainSidebar,
.request_mainContent {
    display: grid;
    place-items: center;
}

.request_mainContent_card {
    min-height: 650px;
    width: 900px;

    padding: 20px;

    display: grid;

    border-radius: 10px;
    box-shadow: 0px 8px 24px 0px #00000040;
}

.request_mainContent_cardForm_logo {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.request_mainContent_card_logoImage {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.request_mainContent_cardForm_logoText {
    margin: 0 auto;

    grid-column: 4 / 6;

    font-size: 24px;
    font-weight: 600;
}

.request_mainContent_cardForm_container {
    width: 100%;

    padding: 20px;

    gap: 20px;
    display: flex;
}

.request_mainContent_cardForm_containerForm {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.request_mainContent_cardForm_containerLeft {
    width: 100%;

    gap: 20px;
    display: flex;
    flex-direction: column;
}

.request_mainContent_cardForm_containerRight {
    width: 100%;

    gap: 20px;
    display: flex;
    flex-direction: column;
}

.request_mainContent_cardForm_container_button {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 600;
    color: var(--background-color);
    background-color: var(--principal-color);

    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: 300ms ease-in-out;
}

.request_mainContent_cardForm_container_button:hover {
    background-color: var(--secondary-color);
}

.request_mainContent_cardForm_container_buttons {
    width: 100%;

    gap: 20px;
    display: flex;
}